{% extends 'todo/base.html' %}


{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title">Todo Delete</h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <p class="card-text">Are you sure you want to delete "{{ todo }}"?</p>
                        <div>
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}