.navbar {
  background-color: cadetblue;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.navbar-brand {
  font-size: 22px;
  font-weight: 600;
  color: black;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-evenly;
}

.message { 
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: fit-content;
  padding: 10px 0;
}

#warning {
  background-color: lightcoral;
  color: aliceblue;
  margin: auto;
  width: 40%;
  text-align: center;
}
#success {
  background-color: darkseagreen;
  color: white;
  margin: auto;
  width: 40%;
  text-align: center;
}

textarea {
  max-width: 100%;
}

table td, table tr {
  text-align: center;
}

.profile-pic-container {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    color: white;
    font-size: 30px;
}

.profile-pic-container:hover .edit-icon {
    display: block;
}

.profile-pic-container:hover .profile-pic {
    filter: brightness(30%); /* Apply a slight gray-out effect */
}

.btn:disabled {
    background-color: #ccc;
    border-color: #ccc;
    color: black;
    cursor: not-allowed;
    pointer-events: none;
}